<link rel="stylesheet" href="../../css/perfil.css">

<nav>
    <a href="/PaginaInicialRecepcionista">Tela Inicial</a>
    <a href="/logout" class="sair">Sair</a>
</nav>

<div class="container mt-4">

    <!-- MENU -->
    <ul class="mb-4">
        <button type="button" id="ButaoEditarInformacoes">Informações Pessoais</button>
        <button type="button" id="ButaoEditarContatos">Contatos</button>
        <button type="button" id="ButaoSenha">Senha</button>
    </ul>

    <!-- ================= SENHA ================= -->
    <div id="senha" class="box-perfil">
        <h2>Alterar senha</h2>
        <form action="/EditarSenhaRecepcionista" method="post">
            <label>Nova Senha:</label>
            <input type="password" name="senha" placeholder="Digite sua nova senha" required>
            <button type="submit">Alterar Senha</button>
        </form>
    </div>

    <!-- ================= INFORMAÇÕES ================= -->
    <div id="informacoesPessoais" class="box-perfil">
        <form action="/EditarInformacoesPessoaisRecepcionista" method="post">
            <label>CPF:</label>
            <input type="text" name="cpf" value="{{Recepcionista.cpf}}">

            <label>Endereço:</label>
            <input type="text" name="endereco" value="{{Recepcionista.endereco}}">

            <label>Data de Nascimento:</label>
            <input type="date" name="data_nascimento" value="{{Recepcionista.data_nascimento}}">

            <label>Sexo:</label>
            <input type="text" name="sexo" value="{{Recepcionista.sexo}}">

            <label>Nome:</label>
            <input type="text" name="nome" value="{{Recepcionista.nome}}">

            <button>Editar Informações Pessoais</button>
        </form>
    </div>

    <!-- ================= CONTATOS ================= -->
    <div id="contatos" class="box-perfil">
        <h2>Editar Contatos</h2>
        <form action="/EditarContatosRecepcionista" method="post">
            <label>Email:</label>
            <input type="email" name="email" value="{{Recepcionista.email}}">

            <label>Telefone</label>
            <input type="number" name="telefone" value="{{Recepcionista.telefone}}">

            <button>Editar Contatos</button>
        </form>
    </div>

</div>

<script src="../../js/recepcionista/perfil.js"></script>
