{{>cliente/navbarfooter}}
<link rel="stylesheet" href="../../css/perfil.css">

<main>
    <!-- Menu de abas -->
    <ul class="ul">
        <li><a id="ButaoEditarInformacoes">Editar Informações</a></li>
        <li><a id="ButaoEditarContatos">Editar Contatos</a></li>
        <li><a id="ButaoSenha">Senha</a></li>
    </ul>

    <!-- ================= ALTERAR SENHA ================= -->
    <div id="Senha"> 
        <div class="EditarSenha">
            <h2>Alterar senha</h2>
            <form action="/EditarSenhaCliente" method="post">
                <label>Nova Senha:</label>
                <input type="password" name="senha" placeholder="Digite sua nova senha" required>
                <br>
                <button class="botao_servico" type="submit">Alterar Senha</button>
            </form>
        </div>
    </div>
    <br>
    <hr>

    <!-- ================= EDITAR INFORMAÇÕES PESSOAIS ================= -->
    <div id="EditarInformacoesPessoaisCliente">
        <div class="caixaEditarInformacoes">
            <form action="/EditarInformacoesPessoaisCliente" method="post">
                <label>CPF:</label>
                <input type="text" name="cpf" value="{{ClienteEncontrado.cpf}}">
                <br>
                <label>Endereço:</label>
                <input type="text" name="endereco" value="{{ClienteEncontrado.endereco}}">
                <br>
                <label>Data de Nascimento:</label>
                <input type="date" name="data_nascimento" value="{{ClienteEncontrado.data_nascimento}}">
                <br>
                <label>Sexo:</label>
                <input type="text" name="sexo" value="{{ClienteEncontrado.sexo}}">
                <br>
                <label>Nome:</label>
                <input type="text" name="nome" value="{{ClienteEncontrado.nome}}">
                <br>
                <button type="submit" class="butao_editar_informacoes">Editar Informações Pessoais</button>
            </form>
        </div>
    </div>
    <br>
    <hr>

    <!-- ================= EDITAR CONTATOS ================= -->
    <div id="EditarContatosCliente">
        <div class="caixaEditarcontatos">
            <h1>Editar Contatos</h1>
            <form action="/EditarContatosCliente" method="post">
                <label>Email:</label>
                <input type="email" name="email" value="{{ClienteEncontrado.email}}">
                <br>
                <label>Telefone:</label>
                <input type="number" name="telefone" value="{{ClienteEncontrado.telefone}}">
                <button type="submit" class="botao_servico">Editar Contatos</button>
            </form>
        </div>
    </div>
</main>

<script src="../../js/clientes/Perfil.js"></script>
