{{>dentista/navbar}}
<link rel="stylesheet" href="../../css/perfil.css">

<div class="container mt-4">

    <!-- MENU DE BOTÕES -->
    <ul class="mb-4">
        <button type="button" id="ButaoEditarInformacoes">Informações Pessoais</button>
        <button type="button" id="ButaoEditarContatos">Contatos</button>
        <button type="button" id="ButaoSenha">Senha</button>
    </ul>

    <!-- ================= ALTERAR SENHA ================= -->
    <div id="Senha" class="box-perfil">
        <h2>Alterar Senha</h2>
        <form action="/EditarSenhaDentista" method="post">
            <label>Nova Senha:</label>
            <input type="password" name="senha" placeholder="Digite sua nova senha" required>
            <button type="submit">Alterar Senha</button>
        </form>
    </div>

    <!-- ================= EDITAR INFORMAÇÕES ================= -->
    <div id="EditarInformacoesPessoaisDentista" class="box-perfil">
        <form action="/EditarInformacoesPessoaisDentista" method="post">
            <label>CPF:</label>
            <input type="text" name="cpf" value="{{DentistaEncontrado.cpf}}">

            <label>Endereço:</label>
            <input type="text" name="endereco" value="{{DentistaEncontrado.endereco}}">

            <label>Data de Nascimento:</label>
            <input type="date" name="data_nascimento" value="{{DentistaEncontrado.data_nascimento}}">

            <label>Sexo:</label>
            <input type="text" name="sexo" value="{{DentistaEncontrado.sexo}}">

            <label>Nome:</label>
            <input type="text" name="nome" value="{{DentistaEncontrado.nome}}">

            <button type="submit">
                Editar Informações Pessoais
            </button>
        </form>
    </div>

    <!-- ================= EDITAR CONTATOS ================= -->
    <div id="EditarContatosDentista" class="box-perfil">
        <h2>Editar Contatos</h2>
        <form action="/EditarContatosDentista" method="post">
            <label>Email:</label>
            <input type="email" name="email" value="{{DentistaEncontrado.email}}">

            <label>Telefone:</label>
            <input type="number" name="telefone" value="{{DentistaEncontrado.telefone}}">

            <button type="submit">
                Editar Contatos
            </button>
        </form>
    </div>

</div>

<script src="../../js/dentista/perfil.js"></script>
